body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin: 0 0 30px;
  color: #555;
}

p strong {
  color: #333;
}

.code-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.code-inputs input {
  width: 45px;
  height: 55px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.resend {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.resend a {
  color: #5c2e91;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to right, #a96dd1, #5c2e91);
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #5c2e91;
  color: #5c2e91;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

@media(max-width: 768px) {

  .container {
    width: 100%;
    height: 100vh;
  }

  .form-container{
    margin-top: 80px;

  }

  .logo {
    width: 170px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}