@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Klee+One&display=swap');

.content {
    font-family: 'Fredoka', sans-serif; /* Establece la fuente principal */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Evita cualquier scroll inesperado */
}
