.search-container {
  width: 100%;
  max-width: 22rem;
}

.relative {
  position: relative;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  color: #9ca3af;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  background-color: #2196F3; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 5px;
}

.search-button:hover {
  background-color: #2196F3;
  transform: scale(1.03);
}

.search-button:active {
  transform: scale(0.98);
}

.search-button:focus {
  outline: 2px solid #c7d2fe;
  outline-offset: 2px;
}

.search-input {
  width: 100%;
  padding: 0.5rem 2rem;
  border: 2px solid #000;
  border-radius: 1.3rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &::placeholder {
    color: #9ca3af;
    font-style: italic;
  }

  &:focus {
    outline: none;
    border-color: #1f2937;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  &:hover {
    border-color: #4b5563;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

.clear-button {
  position: absolute;
  right: 0.75rem;
  color: #9ca3af;
  margin-right: 75px;
  background: transparent;
  border: none;

  &:hover {
    color: #4b5563;
  }
}

.loading-indicator {
  margin-top: 1rem;
  text-align: center;
  color: #4b5563;
}

.spinner {
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
  border-width: 0.125rem;
  border-color: #1f2937;
  border-bottom-color: transparent;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}