<div class="modal-backdrop">
  <div class="profile-edit-container">
    <div class="sidebar">
      <img src="https://i.ibb.co/8hMwzXh/image-removebg-preview-2-1-removebg-preview.png" alt="Logo" class="logo" />
      <ul class="menu">
        <li class="active"><i class="icon-user"></i> Perfil</li>
        <li><i class="icon-settings"></i> Ajustes</li>
      </ul>
    </div>

    <div class="profile-content">
      <div class="profile-photo-section">
        <h3>Foto de perfil</h3>
        <div class="photo-actions">
          <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="Foto de perfil" />
          <div class="photo-buttons">
            <app-button label="Cambiar Foto" variant="primary" (click)="onChangePhoto()"></app-button>
            <app-button label="Eliminar Foto" variant="secondary" (click)="onDeletePhoto()"></app-button>
          </div>
        </div>
      </div>

      <div class="profile-form">
        <div class="name-fields">
          <app-input-field label="Nombre" variant="primary" (valueChange)="onDocumentChange($event)"
            icon="person_pin"></app-input-field>

          <app-input-field label="Apellido" variant="primary" (valueChange)="onLastNameChange($event)"
            icon="person_pin"></app-input-field>
        </div>
        <app-input-field label="Documento" variant="primary" (valueChange)="onDocumentChange($event)"
          icon="person_pin"></app-input-field>

        <div class="contact-fields">
          <app-input-field label="Correo Electrónico" variant="primary" (valueChange)="onEmailChange($event)"
            icon="email"></app-input-field>

          <app-input-field label="Teléfono"  variant="primary"
            (valueChange)="onPhoneChange($event)" icon="phone"></app-input-field>

        </div>
        <app-input-field label="Dirección" variant="primary" (valueChange)="onDocumentChange($event)"
          icon="place"></app-input-field>

        <app-input-field label="Contraseña" variant="primary" (valueChange)="onDocumentChange($event)"
          icon="lock"></app-input-field>



        <app-button label="Editar Información" variant="primary" (click)="editInfo()"></app-button>
      </div>
      <button class="close-button" (click)="onClose()">✖</button>
    </div>
  </div>
</div>