<body>
  <div class="container">
    <div class="logo-container">
      <img src="https://i.ibb.co/8hMwzXh/image-removebg-preview-2-1-removebg-preview.png" alt="Logo" class="logo" />
      <h2>Recuperar contraseña</h2>
      <p>Ingresa tu email para obtener un código de verificación</p>
      <app-alert></app-alert>
    </div>
    <div>
      <div class="input-container"><app-input-field label="Email" placeholder="Ingrese su correo" variant="secondary"
          (valueChange)="onEmailChange($event)"></app-input-field></div>
      <div class="buttons-div">
        <app-button class="solicitar-btn" label="Solicitar código" (click)="enviarCorreoRecup()"></app-button>
        <app-button label="Volver al Login" variant="secondary" (click)="goLogin()"></app-button>
      </div>
    </div>
  </div>
</body>