
<div class="login_1-2">
  <span class="text-iniciar-sesi-n_4-16">Inicia sesión</span>
  <div class="frame-login">
    <span class="input-field_1-3">
      <app-input-field label="Email" placeholder="Ingrese su correo"></app-input-field></span>
    <span class="input-field_1-3">
      <app-input-field label="Contraseña" placeholder="Ingrese su contraseña"></app-input-field></span>
    <span class="button_login"><app-button label="Ingresar" buttonType="primary"></app-button></span>
    <span class="text_4-16" >¿Olvidaste tu contraseña?</span>
  </div>
    
</div>
