.text-iniciar-sesi-n_4-16 {
    font-size: 45px;
    font-weight: bold; 
    text-align: center;
    display: block; 
    margin: 20px auto; 
    color: #9097C0;
    padding-bottom: 15px;
    width: 80%;
}

.text_4-16{
    font-size: small;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.frame-login{
    border: 2px solid #00000027 ;
    border-radius: 10px;
    padding: 20px;
}
.frame-login:hover {
    border-color: #212038;
    transform: scale(1.008);
  }

.login_1-2{
    min-width: 400px;
}