<body>
  <div class="container">
    
    <img src="https://i.ibb.co/8hMwzXh/image-removebg-preview-2-1-removebg-preview.png" alt="Logo" class="logo" />
    <app-alert></app-alert>
    <h2>Crear una nueva contraseña</h2>
    <p>Ingresa una <strong>nueva contraseña</strong></p>
    <div class="input-container"><app-input-field placeholder="Ingrese una nueva contraseña" type="password" variant="secondary"
        (valueChange)="onNewPasswordChange($event)"></app-input-field>
      <app-input-field type="password" placeholder="Confirme su nueva contraseña" variant="secondary"
        (valueChange)="onRepeatPasswordChange($event)"></app-input-field>
    </div>
    <app-button label="Cambiar Contraseña" (click)="finalizarCambioContras()"></app-button>
  </div>
</body>