body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.logo {
  width: 150px;
  margin-bottom: 0px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 30px;
  color: #555;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 36px; /* espacio a la izquierda para el icono */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.input-group::before {
  content: "🔒";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(0%);
  color: #a96dd1;
  font-size: 16px;
  pointer-events: none;
}

.btn-submit {
  background: linear-gradient(to right, #9a6fb7, #5c2e91);
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}
