<body>
  <div class="container">
    <img src="https://i.ibb.co/8hMwzXh/image-removebg-preview-2-1-removebg-preview.png" alt="Logo" class="logo" />
    <h2>Ingresa el código de restablecimiento</h2>
    <p>Hemos enviado un código a <strong>{{recoverPasswordData.mail}}</strong></p>
      <div class="code-inputs">
        <input #codeInput type="text" maxlength="1" required />
        <input #codeInput type="text" maxlength="1" required />
        <input #codeInput type="text" maxlength="1" required />
        <input #codeInput type="text" maxlength="1" required />
        <input #codeInput type="text" maxlength="1" required />
        <input #codeInput type="text" maxlength="1" required />
      </div>

      <div class="resend">¿No obtuviste un código? <a href="#">Reenviar</a></div>

      <app-button label="Validar código" (click)="validarCodigo()"></app-button>
      <app-button label="Regresar al Login" (click)="goLogin()"></app-button>
     

  </div>
</body>