
<div class="Component-Selector-Rol">
  <div class="frame-rol">
    <a href="#"> ← </a>
    <h1 class="titulo">Crear usuario</h1>
    <span class="texto" >Diligenciar los siguientes datos para crear el usuario</span>
      <app-input-field label="Email" placeholder="Ingrese su correo" (valueChange)="onEmailChange($event)" icon="mail"></app-input-field>
      <mat-form-field appearance="outline" class="custom-select">
        <mat-label>Selecciona un rol</mat-label>
        <mat-select [(ngModel)]="RegisterRoleData.role_id">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <app-button label="Ingresar"(click)="onCreateUserRole()"></app-button>
  </div>
  <c-alert class= "alertaRegistro"*ngIf="showAlert" [color]="alertType" dismissible >
        {{ alertMessage }}
  </c-alert>
</div>