.Component-Selector-Rol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.titulo {
    font-size: 40px;
    font-weight: bold; 
    text-align: center;
    display: block; 
    margin: 20px auto; 
    color: #6C63FF;
    padding-bottom: 15px;
    width: 80%;
}


.texto{
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.frame-rol{
    border: 2px solid #00000027 ;
    border-radius: 10px;
    padding: 20px;
    max-height: 80%;
    max-width: 60%;
    border: 2px solid #6C63FF;
}
.frame-rol:hover{
    border: 2px solid #6C63FF;
    box-shadow: 0 0 10px #6C63FF;
    transition: all 0.3s ease-in-out;
}
.frame-rol a{    
    padding-left: 10px;
    text-decoration: none;
    color: black;  
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    display: block;
}
.frame-rol a:hover{
    color: #6C63FF;
    transition: all 0.3s ease-in-out;
    font-size: 34px;
}
.custom-select {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-color: #4204a5;    
}
.custom-select mat-label{
    margin-bottom: 5px;
    font-size: 16px;
    color: #4204a5;
    
}
.custom-select mat-select{
    padding-left: 10px;
    font-size: 14px;
    transition: border 0.3s;
    width: 100%;
}

.custom-select mat-option{
    font-size: 14px;
    overflow: visible;
    z-index: 10000;    
}
.alertaRegistro{
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
    flex-direction: column;
}