/* Estructura principal */
.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 122px;
  
  .home-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
    
    h1 {
      font-size: 2.5rem;
      color: #2196F3;
      margin-bottom: 1rem;
    }
    
    p {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 2rem;
    }
  }
}

/* Ajustes globales */
:host {
  display: block;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}