<div class="home-wrapper">
  <app-header (openUserInfoModal)="onToggleProfileMenu()"></app-header>

  <div class="home-container">
    <div class="top-bar">
  <div class="search-top-left">
    <search-input></search-input>
  </div>

  <div class="filter-top-left">
    <filter-panel></filter-panel>
  </div>
</div>

    <div class="main-content">
      <app-carrusel (productSelected)="openProductModal($event)"></app-carrusel>

      <app-profile-edit *ngIf="showProfileMenu" (close)="onToggleProfileMenu()"></app-profile-edit>

    </div>
  </div>

  <app-infoproduct 
    *ngIf="selectedProduct" 
    [producto]="selectedProduct" 
    (close)="closeProductModal()">
  </app-infoproduct>

  <app-footer></app-footer>
</div>
