
<div class="auth-container">
 
  <div class="login-container">
    <div class="js-code">
      <img class="image" src = "https://www.univalle.edu.co/images/Univalle/70_Rojo.jpg" alt="Logo Univalle">
    </div> 
    <div class = "Compo-register" *ngIf="!mostrarRegistro">
      <app-register (notify)="onNotify($event)"></app-register>
      <c-alert class= "alertaRegistro "*ngIf="showAlert" [color]="alertType" dismissible >
        {{ alertMessage }}
      </c-alert>
    </div>
    <div class = "Campo-login" *ngIf="mostrarRegistro">
      <app-login ></app-login>
    </div>
  </div>
  <div class="register-container">
    <div class = "register" *ngIf="mostrarRegistro">
      <span class="register-text1">Bienvenido</span>
      <span class="register-text2">Si no tienes cuenta, registrate para iniciar sesión</span>
      <app-button class="bottom-1" label='Regístrate aquí' variant="secondary" (click)="toggleVista()"></app-button>
    </div>
    <div class="login-text" *ngIf="!mostrarRegistro">
      <span class="login-text1">¿Ya tienes cuenta?</span>
      <span class="login-text2">Inicia sesión para continuar</span>
      <app-button class="bottom-1" label='Inicia sesión aquí' variant= "secondary"(click)="toggleVista()"></app-button>
    </div> 
  </div>
  
  
</div>
