
<div class="auth-container">
 
  <div class="login-container">
    <div class="js-code">
      <span class="js-text">JS</span><span class="code-text">Code</span>
    </div>  
      <app-login></app-login>
      <span class="derechos">© 2021 JSCode. Todos los derechos reservados.</span>
  </div>
  <div class="register-container">
  <div class = "register">
    <span class="register-text1">Bienvenido</span>
    <span class="register-text2">Si no tienes cuenta, registrate para iniciar sesión</span>
    <app-button class="bottom-1" label='Regístrate'></app-button>
  </div>

  </div>
    
</div>
