.btn {
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
  cursor: pointer;
  display: block;
  width: -webkit-fill-available;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
  color: white;
  background: linear-gradient(to right, #9b4d9b, #2e2f61);
}

.btn-primary:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.005);
}

.btn:disabled {
  background-color: #d9d9d9;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #5c2e91;
  color: #5c2e91;
}

.btn-secondary:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.005);
}

@media (max-width: 768px) {
  .btn-primary {
    margin: 2px;
  }

  .btn-secondary{
    margin: 2px;
  }
} 
