<div class="cart-container">
    <div class="cart-header">
        <div class="label-containers">
            <h1 class="cart-title">Carrito</h1>
            <h1 class="products-quantity-label">({{productsOnUserCart.length}})</h1>
            <button class="close-cart" (click)="closeCart()">X</button>
        </div>
        <div class="products-container">
            <div class="product-container" *ngFor="let product of visibleProductsOnUserCart">
                <button class="select-button" [ngClass]="{ 'selected': product.seleccionado }"
                    (click)="toggleSeleccion(product)">
                    <span *ngIf="product.seleccionado" class="checkmark">✔</span>
                </button>
                <img class="product-image" [src]="product.imageUrl" alt="product-image">
                <div class="product-info">
                    <h1 class="product-name">
                        {{product.nombre}}
                    </h1>
                    <h1 class="product-price">
                        <p>{{ product.precio | currency:'COP':'symbol':'1.0-0':'es-CO' }}</p>
                    </h1>

                    <div class="quantity-container">
                        <button class="decrease-quantity" (click)="toDecreaseQuantity(product)">-</button>
                        <input type="number" class="quantity-input" [value]="product.cantidad">
                        <button class="increase-quantity" (click)="toIncreaseQuantity(product)">+</button>
                    </div>
                </div>
                <button class="delete-button" (click)="deleteProduct(product)"> <img src="https://i.ibb.co/h1MzmXvM/trash-bin-trash-svgrepo-com.png"
                        alt="delete-button"></button>
            </div>
        </div>
        <div class="price-buy-container">
            <h1 class="final-price-label">{{newTotalPrice.totalPrice | currency: 'COP':'symbol':'1.0-0':'es-CO'}}</h1>
            <button [ngClass]="isCartEdited ? 'save-cart' : 'comprar-button'" (click)="isCartEdited? saveCart() : onBuy()">
                {{ isCartEdited ? 'Guarda tu carrito' : 'Comprar' }}
            </button>
        </div>
    </div>
</div>