<body>
  <div class="container">
    <img src="https://i.ibb.co/8hMwzXh/image-removebg-preview-2-1-removebg-preview.png" alt="Logo" class="logo" />
    <h2>Crear una nueva contraseña</h2>
    <p>Ingresa una <strong>nueva contraseña</strong></p>

    <form>
      <div class="input-group">
        <label for="nueva-contrasena">Nueva contraseña</label>
        <input type="password" id="nueva-contrasena" placeholder="Ingresa una contraseña nueva" required />
      </div>

      <div class="input-group">
        <label for="confirmar-contrasena">Confirmar contraseña</label>
        <input type="password" id="confirmar-contrasena" placeholder="Confirma la contraseña" required />
      </div>

      <button type="submit" class="btn-submit">Finalizar</button>
    </form>
  </div>
</body>
