
<div class="auth-container">
  <div class="login-container"> 
    <div class = "Compo-register" *ngIf="!mostrarRegistro">
      <app-register (notify)="onNotify($event)" (toggleToLogin)="toggleVista()"></app-register>
      <c-alert class= "alertaRegistro "*ngIf="showAlert" [color]="alertType" dismissible >
        {{ alertMessage }}
      </c-alert>
    </div>
    <div class = "Campo-login" *ngIf="mostrarRegistro">
      <app-login (notify)="onNotify($event)" (switchToRegister)="toggleVista()"></app-login>
      <c-alert class= "alertaRegistro "*ngIf="showAlert" [color]="alertType" dismissible >
        {{ alertMessage }}
      </c-alert>

    </div>
  </div>

  <div class="register-container" 
     [class.hidden-on-mobile]="isMobile() && !isRegisterVisibleOnMobile">

    <div class = "register" *ngIf="mostrarRegistro">
      <div class="blob-one"></div>
      <div class="blob-two"></div>
      <div class="blob-three"></div>  
      <span class="register-text1">Bienvenido</span>
      <span class="register-text2">Si no tienes cuenta, registrate para iniciar sesión</span>
      <app-button class="bottom-1" label='Regístrate aquí' variant="primary" (click)="toggleVista()"></app-button>
    </div>
    <div class="login-text" *ngIf="!mostrarRegistro">
      <div class="blob-one"></div>
      <div class="blob-three"></div> 
      <img src="favicon.png" alt="Logo" class="logo"> 
      <span class="login-text1">¿Ya tienes cuenta?</span>
      <span class="login-text2">Inicia sesión para disfrutar de todas las funcionalides 
        disponibles para ti</span>
      <app-button class="bottom-1" label='Inicia sesión aquí' variant= "primary"(click)="toggleVista()"></app-button>
    </div> 
  </div>
  
  
</div>
