.title-register {
    font-size: 50px;
    font-weight: bold; 
    text-align: center;
    display: block; 
    margin: 20px auto; 
    color: #000000;
}

.text_4-16{
    font-size: small;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.frame-register{
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #00000027;
    background-color: #FFFFFF;
}

.input-field_1-2{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
