
<div class="register-1">
  <span class="title-register">¡Registrate!</span>
  <div class="frame-register">
    <div class="input-field_1-2">
      <app-input-field label="Nombre" placeholder="Ingrese su Nombre" variant="primary" (valueChange)="onNameChange($event)"></app-input-field>
      <app-input-field label="Apellido" placeholder="Ingrese su Apellido" variant="primary" (valueChange)="onLastNameChange($event)"></app-input-field>
    </div>
      <app-input-field label="Usuario" placeholder="Ingrese su Usuario" variant="primary" (valueChange)="onUserChange($event)"></app-input-field>
      <app-input-field label="Correo" placeholder="Ingrese su correo" variant="primary" (valueChange)="onEmailChange($event)"></app-input-field>
      <app-input-field class= "Contra" label="Contraseña" placeholder="Ingresa tu contraseña" variant="primary" (valueChange)="onPasswordChange($event)" cTooltip="Mínimo 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial."></app-input-field>
      <app-input-field label="Confirma tu contraseña" placeholder="Confirma tu contraseña" variant="primary" (valueChange)="onPasswordRepeatChange($event)"></app-input-field>
      <span class="button_register"><app-button label="Registrate" variant="primary" (click)="onRegister()"></app-button></span>
    </div>
</div>
